html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(270deg, #ff7e5f, #feb47b, #6a82fb, #fc5c7d);
    background-size: 800% 800%;
    animation: moverGradiente 8s ease infinite;
    color: #fff; /* Cambiar el color del texto para que sea visible sobre el gradiente */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

h1 {
    color: #ff6ef5;
    font-style: italic;
    font-size: 48px;
    text-align: center;
    margin-bottom: 24px;
}

p{
    color: #fff;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #00e6e6,
        0 0 40px #00e6e6;
    text-align: center;
}

.mi-boton {
    background-color: white;   /* Color de fondo */
    color: blue;                /* Color del texto */
    padding: 12px 24px;          /* Espaciado interno */
    border: none;                /* Sin borde */
    border-radius: 8px;          /* Bordes redondeados */
    font-size: 16px;             /* Tamaño de fuente */
    cursor: pointer;             /* Cambia el cursor al pasar */
    transition: background-color 0.3s ease; /* Animación suave */
}


.boton{

    background-color: aquamarine;   /* Color de fondo */
    color: white;                /* Color del texto */
    padding: 12px 24px;          /* Espaciado interno */
    border: none;                /* Sin borde */
    border-radius: 8px;          /* Bordes redondeados */
    font-size: 16px;             /* Tamaño de fuente */
    cursor: pointer;             /* Cambia el cursor al pasar */
    transition: background-color 0.3s ease; /* Animación suave */
}

.mi-boton:hover {
    background-color:lightblue;   /* Color al pasar el mouse */
}

.h{

 font-size: 60px;
    font-weight: bold;
    background: red;
   /* background: linear-gradient(270deg, #ff7e5f, #feb47b, #6a82fb, #fc5c7d);
    background-size: 800% 800%; Hace que el gradiente sea más amplio */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: moverGradiente 8s ease infinite;
}

@keyframes moverGradiente {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }


}





